{% extends "layout.html" %}
{% block content %}
    <!-- About Us Section -->
    <section class="about-section">
        <div class="container-fluid pb-3">
            <img src="../static/images/About us.png" alt="About Us Image" class="mx-auto d-block img-fluid">
            <div class="container pb-3">
                <h2>About TeleThrive</h2>
                <p>
                    TeleThrive was born out of a shared passion for mental health advocacy and a desire to make
                    a positive impact on people's lives, especially during challenging times. We embarked on
                    this journey with a vision to create a platform that offers accessible and convenient mental
                    health support to individuals in need.
                </p>
                <p>
                    Inspired by the increasing demand for teletherapy services and the transformative potential
                    of technology in healthcare, we set out to develop a solution that bridges the gap between
                    individuals seeking mental health support and qualified therapists. Our journey began with a
                    simple idea, fueled by our collective determination to create something meaningful and
                    impactful.
                </p>
                <p>
                    Throughout the development process, we faced numerous challenges and setbacks, but our
                    unwavering commitment to our mission kept us motivated. We poured countless hours into
                    refining our platform, ensuring that it not only meets the highest standards of
                    functionality and usability but also reflects our core values of empathy, inclusivity, and
                    accessibility.
                </p>
                <p>
                    As we reflect on our journey, we are immensely proud of what we have accomplished together.
                    TeleThrive represents not just a culmination of technical skills and knowledge but also a
                    testament to our shared vision and dedication to making a difference in the world. We are
                    excited to see how TeleThrive will continue to evolve and grow, empowering individuals to
                    prioritize their mental health and well-being.
                </p>
                <h2>Meet the Team</h2>
                <ul>
                    <li>
                        <strong>Tony Mputhia</strong><br>
                        <a href="https://www.linkedin.com/in/tony-mputhia-developer/"
                            class="text-decoration-none text-primary">LinkedIn</a><br>
                        <a href="https://github.com/ynot93"
                            class="text-decoration-none text-primary">GitHub</a><br>
                        <a href="https://twitter.com/tonymmputhia"
                            class="text-decoration-none text-primary">Twitter</a>
                    </li>
                    <br>
                    <li>
                        <strong>Millyanne Wanjala</strong><br>
                        <a href="https://www.linkedin.com/in/millyanne-wanjala-5365306b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                            class="text-decoration-none text-primary">LinkedIn</a><br>
                        <a href="https://github.com/millyanne93"
                            class="text-decoration-none text-primary">GitHub</a><br>
                        <a href="https://twitter.com/millyanne254"
                            class="text-decoration-none text-primary">Twitter</a>
                </ul>
                <h2>GitHub Repository</h2>
                <p>Explore the code and contribute to TeleThrive on <a
                        href="https://github.com/ynot93/tele-thrive"
                        class="text-decoration-none text-primary">GitHub</a>.</p>
            </div>
        </div>
    </section>
{% endblock content %}
