{% extends "layout.html" %}
{% block content %}
    <h2>Schedule New Appointment</h2>
    <form method="POST" action="{{ url_for('create_appointment') }}">
        <label for="appointment_name">Appointment Name:</label>
        <input type="text" id="appointment__name" required><br><br>
        <label for="appointment_date">Appointment Date:</label>
        <input type="datetime-local" id="appointment_date" name="appointment_date" required><br><br>
        <label for="therapist_id">Therapist ID:</label>
        <input type="number" id="therapist_id" name="therapist_id" required><br><br>
        <input type="submit" value="Schedule Appointment">
    </form>
{% endblock %}
