{% extends "layout.html" %}
{% block content %}
{% macro question_sequence(question) %}
<div class="container border border-secondary rounded py-4">
    <h4>{{ question }}</h4>
    <div class="container">
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="2">Strongly Agree
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="1">Agree
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="0">Neutral
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="-1">Disagree
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="-2">Strongly Disagree
            </label>
        </div>
    </div>
</div>
{% endmacro %}
{{ question_sequence("I enjoy meeting new people and making new friends.") }}
{{ question_sequence("I prefer sticking to a routine rather than trying new things.") }}
{{ question_sequence("I tend to be outgoing and assertive in social situations.") }}
{{ question_sequence("I often find myself lost in my own thoughts and imagination.") }}
{{ question_sequence("I am organized and prefer planning ahead rather than being spontaneous.") }}
{{ question_sequence("I frequently feel nervous or anxious without any specific reason.") }}
{{ question_sequence("I experience physical symptoms like racing heart or sweating when faced with stressors.") }}
{{ question_sequence("I often worry excessively about future events or outcomes.") }}
{{ question_sequence("I find it difficult to relax or unwind even when there's no immediate stressor.") }}
{{ question_sequence("I frequently feel sad or down for no apparent reason.") }}
{{ question_sequence("I have lost interest in activities or hobbies that used to bring me joy.") }}
{{ question_sequence("I have trouble concentrating or making decisions due to a lack of motivation.") }}


{% endblock content %}