{% extends "layout.html" %}
{% block content %}
<div class="container border border-secondary rounded py-4">
    <h4>
        I enjoy meeting new people and making new friends.
    </h4>
    <div class="container">
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="2">Strongly Agree
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="1">Agree
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="0">Neutral
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="-1">Disagree
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" value="-2">Strongly Disagree
            </label>
        </div>
    </div>
</div>
{% endblock content %}