{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form method="POST" action=""> 
            {{ form.hidden_tag() }}
            <fieldset class="fieldset">
                 <legend class="legend">Register Today</legend>
                 <div class="form-group">
                     <label for="username" class="label">Username</label>
                     <input type="text" name="username" id="username" class="input">
                     {% if form.username.errors %}     
                         <div class="error-message">
                              {% for error in form.username.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                         </div>
                     {% endif %}
                 </div>
                 <div class="form-group">
                     <label for="email" class="label">Email</label>
                     <input type="email" name="email" id="email" class="input">
                     {% if form.email.errors %}
                         <div class="error-message">
                             {% for error in form.email.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% endif %}
                 </div>
                 <div class="form-group">
                     <label for="password" class="label">Password</label>
                     <input type="password" name="password" id="password" class="input">
                     {% if form.password.errors %}
                         <div class="error-message">
                             {% for error in form.password.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% endif %}
                 </div>
                 <div class="form-group">
                     <label for="confirm_password" class="label">Confirm Password</label>
                     <input type="password" name="confirm_password" id="confirm_password" class="input">
                     {% if form.confirm_password.errors %}
                         <div class="error-message">
                             {% for error in form.confirm_password.errors %}
                                 <span>{{ error }}</span>
                             {% endfor %}
                         </div>
                     {% endif %}
                 </div>
             </fieldset>
             <div class="form-group">
                 <button type="submit" class="submit-btn">Submit</button>
             </div>
        </form>
    </div>
{% endblock content %}
